@model QuanLySinhVien.Models.Student

@{
    ViewData["Title"] = "EnterScore";
    Layout = "~/Views/Grade/ScoreReview.cshtml";
}

<h1>EnterScore</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnterScore" method="post">
            <input type="hidden" asp-for="MSSV" />

            <div class="form-group">
                <label asp-for="Teacher.Score" class="control-label">Score:</label>
                <input asp-for="Teacher.Score" class="form-control" />
                <span asp-validation-for="Teacher.Score" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

