@{
    ViewData["Title"] = "Scores";
}
@model List<QuanLySinhVien.Models.Student>
<h1>Student Grades</h1>
<h2>Number of Students: @Model.Count</h2>
<table>
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Individual Score</th>
            <th>Team Score</th>
            <th>Teacher Evaluation</th>
            <th>Grades</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.MSSV</td>
                <td>@student.Reviews</td>
            </tr>
        }
    </tbody>
</table>
